html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.purple {
  background: #200017;
}

.green {
  background: #5a7677;
}

h1, h2 {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 15px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
header nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #200017;
  overflow-x: hidden;
  padding-top: 15px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
@media screen and (min-width: 769px) {
  header nav {
    padding-top: 60px;
  }
}
header nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header nav ul li a {
  padding: 0px 0px 40px 40px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  header nav ul li a {
    font-size: 30px;
  }
}
header nav .closebtn {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
header nav .closebtn span {
  font-size: 40px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  margin-top: -3px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
header nav .closebtn:hover {
  background: white;
}
header nav .closebtn:hover span {
  color: black;
}

.openbtn {
  position: fixed;
  right: 40px;
  top: 50%;
  background: black;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.openbtn:hover {
  background: #f8f8f8;
}
.openbtn:hover span {
  background: black;
}
.openbtn:hover span:before, .openbtn:hover span:after {
  background: black;
}
.openbtn span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.openbtn span:before, .openbtn span:after {
  content: '';
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  margin-top: -8px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.openbtn span:after {
  margin-top: 8px;
}

footer {
  background: #ebebeb;
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}
@media screen and (min-width: 1200px) {
  footer {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    max-width: 1440px;
  }
}
footer .logo {
  max-width: 588px;
  margin: auto;
  margin-top: 93px;
}
footer .logo svg {
  width: 100%;
}
footer .list1 {
  margin: auto;
  text-align: center;
  margin-top: 83px;
}
footer .list2 {
  margin: auto;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 87px;
}
footer ul {
  display: inline-block;
}
footer li {
  display: inline-block;
}
footer li a {
  color: black;
}
footer li:before {
  content: '\00a0\2022\00a0\00a0';
  color: #999;
  color: black;
  font-size: 11px;
  padding-left: 1em;
  padding-right: 1em;
}
footer li:first-child:before {
  content: '';
}

@media screen and (min-width: 769px) {
  padding: 60px;
}
.button {
  background: #200017;
  color: white;
  border-radius: 35px;
  display: inline-block;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 25px 40px;
  margin-top: 75px;
}
.button:hover {
  background: #53003c;
}

main {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    max-width: 1440px;
  }
}

section {
  padding: 15px;
}
@media screen and (min-width: 769px) {
  section {
    padding: 15% 0 0;
  }
}

blockquote p {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 100;
  line-height: 1.26;
  text-align: center;
  color: #2b2b2b;
}
blockquote span {
  display: block;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (min-width: 769px) {
  section.textimage:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media screen and (min-width: 769px) {
  section.textimage figure {
    float: left;
    width: 50%;
  }
}
section.textimage .text {
  padding: 30px;
  color: white;
}
@media screen and (min-width: 769px) {
  section.textimage .text {
    width: 50%;
    float: right;
    padding: 60px;
  }
}
@media screen and (min-width: 769px) {
  section.textimage.image-right figure {
    float: right;
  }
}
@media screen and (min-width: 769px) {
  section.textimage.image-right .text {
    float: left;
  }
}

section.videoheader {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  /* indsat af Steffen Videologo*/
}
section.videoheader:after {
  content: '';
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
section.videoheader .bg-placeholder {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.videoheader .videowrapper {
  height: 100vh;
  position: relative;
}
section.videoheader .container {
  position: relative;
}
section.videoheader .background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
section.videoheader .videologo {
  position: absolute;
  width: 290px;
  margin-top: 224px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  z-index: 11;
}
section.videoheader video,
section.videoheader source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
section.videoheader .loaded .ytplayer-container {
  display: block;
}
section.videoheader .loaded .placeholder-image {
  opacity: 0;
}
section.videoheader .ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
section.videoheader .placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
section.videoheader .ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
section.videoheader .container {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 30px 0 30px;
  margin: 30px auto;
}
section.videoheader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: white;
  font-size: 40px;
  text-align: center;
  z-index: 10;
}
section.videoheader .border-bottom {
  height: 4px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
section.videoheader .border-bottom .arrow {
  width: 25px;
  height: 25px;
  background: red;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
}
section.videoheader .border-bottom .circle {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}
section.videoheader .border-bottom:before {
  content: '';
  background: transparent;
  width: 100%;
  height: 100px;
  position: absolute;
  top: -100px;
}
section.videoheader .border-bottom:hover {
  height: 30px;
}

section.headerpic {
  padding-top: 0;
  position: relative;
}
section.headerpic div {
  position: absolute;
  width: 290px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 59px;
  left: 50%;
  z-index: 11;
}
section.headerpic h1 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 11;
  color: white;
}
section.headerpic:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
