

//Clearfix
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin button {
    width: 245px;
    height: 63px;
    border-radius: 31.5px;
    background-color: #f8f8f8
}
