//Clearfix
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

@mixin button($color, $color2) {
  background: $color;
  color: $color2;
  border-radius: 35px;
  display: inline-block;
  transition: 300ms ease;

  &:hover {
    background: lighten($color, 10%);
  }
}