html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  * {
      margin:0;
      padding: 0;
      text-decoration: none;
      outline: 0;
      -webkit-appearance: none;
  }

  img {
      width: 100%;
      height: auto;
      display: block;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }