footer {
    max-width: $siteWidthWrapper;
    margin: 0 auto;
    background: $lightgrey;
    padding: 15px;

    @media screen and (min-width: $md) {
      padding: 60px;
    }

    .button {
      @include button($purple, $white);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 25px 40px;
    }
}
