footer {
    max-width: $siteWidthWrapper;
    margin: 0 auto;
    background: $lightgrey;
    padding: 15px;

    .logo {
      max-width: 588px;
      margin: auto;
      margin-top: 93px;

      svg{
        width: 100%;
        }
      }

      .list1 {
        margin: auto;
        text-align: center;
        margin-top: 83px;

      }

      .list2{
        margin: auto;
        text-align: center;
        margin-top: 82px;
        margin-bottom: 87px;
      }

      ul{
        display: inline-block;
      }

      li {
        display:inline-block;

      }

      li:before {
        content: '\00a0\2022\00a0\00a0';
	      color:#999;
	      color:rgba(0,0,0,1);
	      font-size:11px;
        padding-left: 1em;
        padding-right: 1em;
        }

      li:first-child:before{
        content: '';
      }
    }




    @media screen and (min-width: $md) {
      padding: 60px;
    }

    .button {
      @include button($purple, $white);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 25px 40px;
      margin-top: 75px;
    }
