main {
    max-width: 100%;
    margin: 0 auto;
    
    @media screen and (min-width: $siteWidthWrapperMedium) {
        max-width: $siteWidthWrapperMedium;
    }

    @media screen and (min-width: $siteWidthWrapper) {
        max-width: $siteWidthWrapper;
    }
}

section {
    padding: 15px;

    @media screen and (min-width: $md) {
        padding: 15% 0 0;
    }
}
