main {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;

    @media screen and (min-width: $siteWidthWrapperMedium) {
        max-width: $lg;
    }

    @media screen and (min-width: $siteWidthWrapper) {
        max-width: $xlg;
    }

}

section {

    @media screen and (min-width: $md) {
        padding: 100px 0 0;
    }
}