section.textimage {
    @media screen and (min-width: $md) {
        @include clearfix;
    }

    figure {

        @media screen and (min-width: $md) {
            float: left;
            width: 50%;
        }
    }
    

    .text {
        padding: 30px;
        color: white;

        @media screen and (min-width: $md) {
            width: 50%;
            float: right;
            padding: 60px;
        }
    }

    &.image-right {

        figure {
            @media screen and (min-width: $md) {
                float: right;
            }
        }

        .text {
            @media screen and (min-width: $md) {
                float: left;
            }
        }
    }
    .button{
      @include button($white,$black);
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
