section.headerpic {
  @include bgimage;
  padding-top: 0;
  position: relative;
  height: 50vh;

  a {
    position: absolute;
    width: 290px;
    transform: translate(-50%, -50%);
    top: 100px;
    left: 50%;
    z-index: 11;
    display: block;
  
    svg {
      max-width: 100%;
      width: 100%;
    }
  }

  h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 11;
    color: white;
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}