.newswrapper {
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
    }
    
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 10px;
    
        .news-item {
            margin-top: 10px;
            vertical-align: middle;
            width: 100%;
            height: auto;
            background: #f8f8f8;
            display: block;
            margin-bottom: 20px;

            .text {
                padding: 20px;
                text-align: center;
                
                .social {
                    color: $black;
                    margin-bottom: 10px;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                }

                .date {
                    color: #917e7e;
                    font-size: 12px;
                    text-transform: uppercase;
                }

                p {
                    margin-bottom: 0;
                    color: $black;
                    margin-top: 10px;
                }
            }
        }
    }
    
    @media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }
    
    @media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
}