//HOLDE BLOCKQUOTE ELEMENTET LIDT MERE GLOBAL I STYLE
blockquote {

    p{
      font-family: Roboto;
      font-size: 40px;
      font-weight: 100;
      line-height: 1.26;
      text-align: center;
      color: #2b2b2b;
    }



    span {
        display: block;
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
    }
}

section.quote {
    .button {
        @include button($purple, $white);
        position: relative;
        margin-top: 75px;
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            background: darken($purple, 15%);
        }
    }
}
